.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.box{
    border: 2px solid black;
    width: 300px;
    max-width: 500px;
    height: 400px;
    margin-top: 50px;
}
.box svg{
    margin: 20px;
}
.box h2{
    margin: 20px;
}
.box p{
    margin: 20px;
}
button{
    padding: 10px;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 20px;
    width: 50%;
    border: none;
    cursor: pointer;   
}
#Sedans{
    background-color: rgb(177, 122, 20);
    color: whitesmoke;

}
#Sedans button{
       color: rgb(184, 129, 26);
}
#SUV{
    background-color: rgb(18, 117, 117);
    color: whitesmoke;
}
#SUV button{
    color: rgb(18, 117, 117);
} 
#luxury{
    background-color: rgb(18, 71, 71);
    color: whitesmoke;
}