.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.box{
    border: 2px solid black;
    width: 300px;
    max-width: 500px;
    height: 400px;
}
