.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: whitesmoke;
}
.head{
    font-size: 40px;
    color: grey;
    text-align: center;
}
h1{
    text-align: center;
}
.text{
    text-align: center;
    color: grey;
}
/* main style */
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}
.side{
    border-top: 4px solid rgb(159, 220, 240);
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0  10px 5px rgb(190, 197, 221);
}
.middle{
    border-top: 4px solid rgba(241, 241, 92, 0.89);
    background-color: white;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0  10px 5px rgb(190, 197, 221);

}
svg{
   margin-left: 215px;   
}
h3{
    margin-top: 10px;
    padding: 10px;
}
p{
   padding: 10px;
   color: grey;
}
#test{
    border-top: 4px solid rgb(201, 72, 72);
}
#side2{
    border-top: 4px solid rgb(64, 64, 209);
}
